<div *ngIf="loaded">
  <ngb-alert type="warning" [dismissible]="false">
    <h4>Operador: {{trailer.operatorIn}}</h4>
    <p>Licencia: {{trailer.licenseNumberIn}}</p>
  </ngb-alert>
  <ngb-alert type="dark" [dismissible]="false">
    <div>Origen: {{trailer.origin}}</div>
    <div>Destino: {{trailer.destination}}</div>
  </ngb-alert>
  <ngb-alert type="dark" [dismissible]="false">
    <div>Llegada: {{trailer.arrival.year}}-{{trailer.arrival.month}}-{{trailer.arrival.day}}  {{trailerExt.daysSinceArrival}}</div>
    <div>Salida estimada: {{trailer.estimatedDeparture.year}}-{{trailer.estimatedDeparture.month}}-{{trailer.estimatedDeparture.day}}  {{trailerExt.daysUntilDeparture}}</div>
    <div>Estacionamiento: {{park.area}}{{park.number}}</div>
  </ngb-alert>
  <ngb-alert type="info" [dismissible]="false">
    <div>Categoria: {{trailerExt.category}}</div>
    <div>Capacidad: {{trailer.capacity}} m<sup>3</sup></div>
    <div>Peso: {{trailer.weigth}} kg</div>
  </ngb-alert>
  <ngb-alert type="dark" [dismissible]="false">
    <h5>Tractor: {{trailer.tractor}}</h5>
    <h5>Trailer: {{trailer.trailer}}</h5>
    <h5>Contenedor: {{trailer.container}}</h5>
  </ngb-alert>
  <div class="float-sm-right">
    <button class="btn btn-primary" routerLink="/trailers/checkout/{{trailerExt.folio}}" [disabled]="!trailer.active">Procesar salida</button>
  </div>
</div>
