<h3>Lista de trailers</h3>
<ul>
    <div *ngFor="let trailer of trailers">
        <ngb-alert [type]="trailer.active ? 'info' : 'secondary'" [dismissible]="false">
            <h3><a routerLink="/trailers/{{trailer.$key}}">Trailer #: {{trailer.trailer}}</a> </h3>
            <div>Ruta: {{trailer.origin}} - {{trailer.destination}}</div>
            <div>Llegada: {{trailer.arrival.year}}-{{trailer.arrival.month}}-{{trailer.arrival.day}}</div>
            <div>Salida estimada: {{trailer.estimatedDeparture.year}}-{{trailer.estimatedDeparture.month}}-{{trailer.estimatedDeparture.day}}</div>
            <div>Operador: {{trailer.operatorIn}}</div>
            <div>Contenedor: {{trailer.container}}</div>
            <div>
              <button class="btn btn-primary" *ngIf="trailer.active" routerLink="/trailers/checkout/{{trailer.$key}}">Salida</button>
            </div>
        </ngb-alert> 
    </div>
  </ul>